div.col {
    width: 50%;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.centered {
    margin-left: 50px;
    margin-right: 50px;
}

p.justified {
    text-align: justify;
}

p.align-left {
    text-align: left;
}

p.align-right {
    text-align: right;
}
div.more-text {
    font-size: 80%;
}
p.more-text {
    font-size: 80%;
}
section img.no-border {
    border-width: 0px;
    border-color: blue;
}